In [20]:
import pandas as pd
import datetime as dt
from functools import partial

def _get_data(db, ticker, start_date, end_date=dt.date.today(), revised=False):
    query = f"SELECT * FROM {db} WHERE ticker='{ticker}' AND date BETWEEN '{start_date}' AND '{end_date}'"
    data = pd.read_sql(query, 'sqlite:///data.db', index_col=['date', 'ticker'])
    keep, drop = ('revised', 'original') if revised else ('original', 'revised')
    return data.drop(drop, axis=1).rename(columns={keep: 'value'})

get_internal_data = partial(_get_data, 'eco_data_internal')
get_external_data = partial(_get_data, 'eco_data_external')

# The Task
Let's say we have an index that consumes a ticker that is published monthly in its signal calculation.
This ticker publishes a new value on the last business day of every month, as well as publishing revisions to the values of previous months.
However, the date shown on the external source is the last day of the month and not the last business day.

Your task is to query the data held internally and validate it against the external source to highlight what values we have missing, or no longer correct due to a revision.
Compare the most 10 most recent published value (the current revised value if available, otherwise the original value) and highlight where this does not match what we have in our internal database.

In [21]:
internal_unrevised = get_internal_data('GB', '2022-01-01', revised=False)
internal_unrevised

                   value
date       ticker
2022-01-31 GB        116
2022-02-28 GB        161
2022-03-31 GB        121
2022-04-29 GB        138
2022-05-31 GB        168
2022-06-30 GB        161
2022-07-29 GB        171
2022-08-31 GB        120

In [22]:
external_unrevised = get_external_data('GB', '2022-01-01', revised=False)
external_unrevised

                   value
date       ticker
2022-01-31 GB        116
2022-02-28 GB        161
2022-03-31 GB        121
2022-04-30 GB        138
2022-05-31 GB        168
2022-06-30 GB        161
2022-07-31 GB        171
2022-08-31 GB        120
2022-09-30 GB        132

In [23]:
internal_revised = get_internal_data('GB', '2022-01-01', revised=True)
internal_revised

                   value
date       ticker
2022-01-31 GB      104.0
2022-02-28 GB      169.0
2022-03-31 GB      145.0
2022-04-29 GB      136.0
2022-05-31 GB      119.0
2022-06-30 GB      195.0
2022-07-29 GB      163.0
2022-08-31 GB        NaN

In [24]:
external_revised = get_external_data('GB', '2022-01-01', revised=True)
external_revised

                   value
date       ticker
2022-01-31 GB      104.0
2022-02-28 GB      169.0
2022-03-31 GB      145.0
2022-04-30 GB      136.0
2022-05-31 GB      119.0
2022-06-30 GB      187.0
2022-07-31 GB      141.0
2022-08-31 GB      186.0
2022-09-30 GB        NaN