In [119]:
import pandas as pd
import datetime as dt

def _get_data(db, ticker, start_date, end_date=dt.date.today(), revised=False):
    query = f"SELECT * FROM {db} WHERE ticker='{ticker}' AND date BETWEEN '{start_date}' AND '{end_date}'"
    data = pd.read_sql(query, 'sqlite:///data.db', index_col=['date', 'ticker'])
    if revised:
        return (data
                .drop('original', axis=1)
                .rename(columns={'revised': 'value'}))
    else:
        return (data
                .drop('revised', axis=1)
                .rename(columns={'original': 'value'}))

def get_internal_data(ticker, start_date, end_date=dt.date.today(), revised=False):
    return _get_data('eco_data_internal', ticker, start_date, end_date, revised)

def get_external_data(ticker, start_date, end_date=dt.date.today(), revised=False):
    return _get_data('eco_data_external', ticker, start_date, end_date, revised)

In [122]:
internal_unrevised = get_internal_data('GB', '2022-01-01', revised=False)
internal_unrevised

                   value
date       ticker
2022-01-31 GB        102
2022-02-28 GB        117
2022-03-31 GB        106
2022-04-30 GB        155
2022-05-31 GB        138
2022-06-30 GB        148
2022-07-31 GB        137
2022-08-31 GB        126

In [123]:
external_unrevised = get_external_data('GB', '2022-01-01', revised=False)
external_unrevised

                   value
date       ticker
2022-01-31 GB        102
2022-02-28 GB        117
2022-03-31 GB        106
2022-04-29 GB        155
2022-05-31 GB        138
2022-06-30 GB        148
2022-07-29 GB        137
2022-08-31 GB        126
2022-09-30 GB        161

In [120]:
internal_revised = get_internal_data('GB', '2022-01-01', revised=True)
internal_revised

                   value
date       ticker
2022-01-31 GB      162.0
2022-02-28 GB      196.0
2022-03-31 GB      186.0
2022-04-30 GB      131.0
2022-05-31 GB      191.0
2022-06-30 GB      127.0
2022-07-31 GB      137.0
2022-08-31 GB        NaN

In [121]:
external_revised = get_external_data('GB', '2022-01-01', revised=True)
external_revised

                   value
date       ticker
2022-01-31 GB      162.0
2022-02-28 GB      196.0
2022-03-31 GB      186.0
2022-04-29 GB      131.0
2022-05-31 GB      191.0
2022-06-30 GB      116.0
2022-07-29 GB      148.0
2022-08-31 GB      138.0
2022-09-30 GB        NaN